body
  // Baseline Material-UI font treatment. We define it here as well,
  // because we otherwise get FOUT when hard-refreshing a page with
  // markdown->html set via `dangerouslySetInnerHtml` (e.g., one of the
  // product or team pages.
  color rgba(0, 0, 0, 0.87)
  font-size 0.875rem
  font-family "Roboto", "Helvetica", "Arial", sans-serif
  font-weight 400
  line-height 1.5
  letter-spacing: 0.01071em
  #logo
    background-color #fff
    &:hover
      background-color #eee
    #logoIcon
      background-color #50f
      color #fff

  a
    text-decoration none

  button
    a
      color #fff

  footer
    text-align center

// These are needed because material-table's rowHeight option doesn't work below 49px
// https://github.com/mbrn/material-table/issues/701
.MuiTableCell-root 
  height: 10px !important
  padding: 5px !important
  font-size: 0.7rem !important
.MuiButtonBase-root
  height: 10px !important

